@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Inter:wght@400;600&display=swap');
@import "tailwindcss";

/* Tes styles personnalisés et animations pour le Login Page */
@theme {
    --animate-blob: blob 7s infinite;

    @keyframes blob {
        0% {
            transform: translate(0px, 0px) scale(1);
        }
        33% {
            transform: translate(30px, -50px) scale(1.1);
        }
        66% {
            transform: translate(-20px, 20px) scale(0.9);
        }
        100% {
            transform: translate(0px, 0px) scale(1);
        }
    }
}

/* Utilitaires personnalisés pour le Design System */
.font-heading {
    font-family: 'Montserrat', sans-serif;
}

.font-body {
    font-family: 'Inter', sans-serif;
}

